<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Nuevo Pedido</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
					<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
						<span class="fs-4 d-none d-sm-inline fw-bolder">BurgerBross</span>
					</a>
					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
						id="menu">
						<li>
							<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
								<i class="fs-4 bi-receipt"></i> <span class="ms-1 d-none d-sm-inline">Pedidos</span>
							</a>
							<ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
								<li class="w-100">
									<a href="/" class="nav-link px-0"> Todos </a>
								</li>
								<li class="w-100">
									<a href="/nuevoPedido1" class="nav-link px-0"> Nuevo </a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> Actualizar </a>
								</li>
								<li>
									<a href="#" class="nav-link px-0"> Eliminar </a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
								<i class="fs-4 bi-box-seam"></i> <span
									class="ms-1 d-none d-sm-inline">Productos</span></a>
							<!-- AQUI DEBERIA IR DENTRO DE LAS CLASES "SHOW" PARA QUE ESTE EXPANDIDO EL MENU -->
							<ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
								<li class="w-100">
									<a href="/nuevoProducto" class="nav-link px-0"> Nuevo </a>
								</li>
								<li class="w-100">
									<a href="/listadoProductos" class="nav-link px-0"> Todos </a>
								</li>
								<li class="w-100">
									<a href="/productosHamburguesas" class="nav-link px-0"> Hamburguesas </a>
								</li>
								<li class="w-100">
									<a href="/productosBebidas" class="nav-link px-0"> Bebidas </a>
								</li>
								<li class="w-100">
									<a href="/productosComplementos" class="nav-link px-0"> Complementos </a>
								</li>
								<li class="w-100">
									<a href="/productosAdicionales" class="nav-link px-0"> Adicionales </a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
								<i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span>
							</a>
							<ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
								<li class="w-100">
									<a href="/listadoUsuarios" class="nav-link px-0"> Todos </a>
								</li>
								<li class="w-100">
									<a href="#" class="nav-link px-0"> Nuevo </a>
								</li>
								<li class="w-100">
									<a href="#" class="nav-link px-0"> Actualizar </a>
								</li>
								<li class="w-100">
									<a href="#" class="nav-link px-0"> Eliminar </a>
								</li>
							</ul>
						</li>
					</ul>
					<hr>
					<div class="dropdown pb-4">
						<a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
							id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fs-3 bi-person-circle"></i>
							<span class="d-none d-sm-inline mx-1">Admin</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-light text-small shadow">
							<li><a class="dropdown-item" href="#">Preferencias</a></li>
							<li><a class="dropdown-item" href="#">Perfil</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- ACA EMPIEZA EL CONTENIDO DENTRO DE LA PAGINA -->
			<div class="col py-3">
				<h1 class="m-2">Nuevo Pedido (<span th:text="${nombreCliente}"></span>)</h1>

				<form class="ms-4 me-4" th:action="@{/nuevoPedidoSiguiente}" method="post" th:object="${det_pedido}">
					<input th:value="${nombreCliente}" type="hidden" name="nombreCliente">
					<div class="form-group mb-2">
						<label for="idProducto">Producto</label>
						<select th:field="*{id_producto}" class="form-control form-select" id="id_producto" required>
							<option th:each="p : ${selProd}" th:value="${p.idProducto}" th:text="${p.nombreProducto}"></option>
						</select>
					</div>

					<div class="form-group mb-2">
						<label for="cantidad">Cantidad</label>
						<input th:field="*{cantidad}" type="number" class="form-control" id="cantidad"
							placeholder="Introduce la cantidad del producto" required step="1">
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="bi bi-arrow-right-circle"></i>
						Continuar
						</button>					
				</form>
				<form th:action="@{/finalizarPedido}" method="post" class="ms-4 me-4 mt-2">
					<input th:value="${nombreCliente}" type="hidden" name="nombreCliente">
					<button type="submit" class="btn btn-success">
						<i class="bi bi-check-circle"></i>
						Finalizar Pedido
						</button>	
				</form>
				
				<table class="table table-hover mt-3">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="p : ${listaPedidosTemp}">
							<tr>
								<td th:text="${p.nombreProducto}"></td>
								<td th:text="${p.precio_producto}"></td>
								<td th:text="${p.cantidad}"></td>
								<td th:text="${p.subtotal}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

</html>